.App {
  text-align: center;
  height: 100%;
}

.App-Filter {
  height: 100%;
  background-color: #B71C1C;
  overflow: auto;
}

.App-Map {
  height: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
